body {
            display: flex;
            justify-content: center; /* Centruj w poziomie */
            height: 100%;
            margin: 0;
        }

#calculator {
            width: 33.33vw;
            height: 100vh;
            background-color: rgb(235, 235, 235);
            padding: 1;

            margin: auto; /* Centruj pionowo i poziomo */
            text-align: center; /* Centruj tekst i przyciski wewnątrz */
        }
#screen {
    width: 95%;
    margin:1vh;
    margin-top: 10vh;
}
button {
    width:20%;
    height:5%;
    margin:0.5vh;
}